h1
{
    color: black;
    font-size: 48px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p
{
    color: black;
    font-size: 18px;
    text-align: initial;
    font-family: Arial, Helvetica, sans-serif;
}

li
{
    color: black;
    font-size: 18px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-cesde
{
    display: flex;
    background-color:  rgb(215, 17, 139);
    padding: 10px;
    
}

h2
{
    color: black;
    font-size: 32px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

h3
{
    color: black;
    font-size: 24px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.menu
{
    display: flex;
}

.item-menu
{
    display: inline;
    justify-content: space-between;
    padding: 20px;
}

