h1
{
    color: black;
    font-size: 3rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.parrafo
{
    color: black;
    font-size: 1rem;
    text-align: initial;
    font-family: Arial, Helvetica, sans-serif;
}

li
{
    color: black;
    font-size: 1rem;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-cesde
{
    display:flex;
    background-color:  rgb(211, 5, 132);
}

h2
{
    color: black;
    font-size: 2rem;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3rem;
}

h3
{
    color: black;
    font-size: 2rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.menu 
{
    display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
      align-items: center;
}


.item-menu
{
    display: flex;
    padding: 2rem;
    font-size: 1.5rem;
}

.item-menu-a
{
    display: flex;
    margin-right: 35rem;
    padding: 2rem;
    font-size: 1.6rem;
}


.item-menua
{
    text-decoration:none;
    color: white;    
}

.containerInicio
{
    display: inline-block;
    background-color: rgb(226, 219, 219); 
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-style:groove;
    border-radius: 1rem;
}

.parrafoInicio
{
    font-size: 2rem;
    text-align: center;
    margin-top: 6rem;
}

.containerReglas
{
    display:inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color:  rgb(240, 212, 243);
    border-style: groove;
}

.contenedor-paralelo 
{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.footer
{
    display:block;
    background-color:  rgb(211, 5, 132);
    padding: 0.5rem ;
}

.parrafo-footer
{
    color: white;
    font-size: 1rem;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

.container-login
{
    margin-left: auto;
    justify-content: end;
}

.item-menu-login
{
    text-align: center;
    font-size: 1.4rem;
    margin: 1rem;
    padding: 20px;
    margin-left: auto;
    background-color: rgb(245, 223, 223);
    border-radius: 10px;
    border-style: groove;
    
}

.item-menu-login:hover
{
    background-color: rgb(190, 187, 187);
    cursor: pointer;
}

.login-a
{
    text-decoration:none;
    color: rgb(8, 8, 8);
    margin-left: auto;
}

.container-img-contac
{
    margin-right: 20rem; 
    margin-top: 3rem;
    border-top-right-radius: 15px ; 
    border-bottom-right-radius: 15px;
    width: 650px; 
    height: 675px;
}

.parrafoContacto
{
    margin: 20px;
    font-size: 20px;
}

.container-contact
{
    display: block;
    background-color: rgb(206, 205, 205);
    margin-top: 3rem;
    margin-left: 20rem;
    padding: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px ;
}

.formulario-prestamo
{
    display:block inline;
    background-color: rgb(206, 205, 205); height: 700px; width: 600px;
    margin-left: 2rem;
    margin-right: 0rem;
    margin-top: 1rem;
    border-radius: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    border-style: groove;
}

.button
{
    display: block;
    margin-top: -12px;
    padding: 15px;
    margin-left: 95px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: groove;
    border-radius: 8px;
}

.button:hover
{
    background-color: rgb(190, 187, 187);
    cursor: pointer;
}

.button-formatos
{
    display: block;
    margin-bottom: 0rem;
    margin-top:-3.7rem;
    padding: 1rem;
    margin-left: 23rem;
    margin-right: 40rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style:groove;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 10rem;
    background-color: rgb(127, 171, 236);
}

.button-formatos:hover
{
    background-color: rgb(190, 187, 187);
    cursor: pointer;
}

.button-formatos-
{
    display: block;
    margin-bottom: 0rem;
    margin-top:-2rem;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 30rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style:groove;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 12rem;
    background-color: rgb(127, 171, 236);
}

.button-formatos-:hover
{
    background-color: rgb(190, 187, 187);
    cursor: pointer;
}

.cuadroF
{
    display:inline-block;
    padding: 10px;
    margin-right: 0px;
    width: 295px;
    border-radius: 10px;
    
}

.cuadroF-
{
    display:inline-block;
    padding: 10px;
    margin-right: 0px;
    width: 250px;
    border-radius: 10px;
    
}

.cuadroF--
{
    display:inline-block;
    padding: 10px;
    margin-right: 0px;
    width: 345px;
    border-radius: 10px;
    
}

.cuadroF---
{
    display:inline-block;
    padding: 10px;
    margin-right: 0px;
    width: 275px;
    border-radius: 10px;
    
}

.cuadroF----
{
    display:inline-block;
    padding: 10px;
    margin-right: 0px;
    width: 290px;
    border-radius: 10px;
    
}

.option1
{
    font-size: px;
}

.option
{
    font-size: 18px;
}

.form-group
{
    margin: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.card-img
{
    display:inline-block ;
    background-color: rgb(206, 205, 205); width: 400px; height: 500px;
    margin: 4.55rem;
    margin-top: 1rem;
    padding: 2.5rem;
    border-radius: 1rem;
    border-style: groove;
}

.card-img:hover
{
    transform: scale(1.04);
    background-color: rgb(167, 163, 163);
    cursor: pointer;
}

.card-imgimg
{
    border-radius: 1rem;
    margin-left: 1.8rem;
    margin-top: 0px;
}

.informacion
{
    background-color: rgb(177, 27, 119);
    margin-left:130px;
    padding: 15px;
    border-radius: 15px;;
    list-style: none;
    color: white;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
     ;
}

.informacion:hover
{
    background-color: rgb(240, 59, 171);
    cursor: pointer;
}

.titulo-servicio
{
    text-align: center;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-princser
{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(190, 187, 187);
    
}

.parrafo-servicios
{
    font-size: 20px;
    margin-top: 0px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif ;
}

.container-iniciar-sesion
{
    display: block;
    background-color: rgb(206, 205, 205); height: 550px; width: 600px;
    margin-left: 660px;
    margin-top: 50px;
    margin-right: 690px;
    border-radius: 15px;
    border-style: groove;
}

.cuadroR
{
    display:inline-block;
    padding: 10px;
    margin-right: 0px;
    width: 295px;
    border-radius: 10px;
    
}

.cuadroR-
{
    display:inline-block;
    padding: 10px;
    margin-right: 0px;
    width: 250px;
    border-radius: 10px;
    
}

.cuadroR--
{
    display:inline-block;
    padding: 10px;
    margin-right: 0px;
    width: 414px;
    border-radius: 10px;
    
}

.cuadroR---
{
    display:inline-block;
    padding: 10px;
    margin-right: 0px;
    width: 292px;
    border-radius: 10px;
    
}

.cuadroR----
{
    display:inline-block;
    padding: 10px;
    margin-right: 0px;
    width: 360px;
    border-radius: 10px;
    
}

.buttonRegistro
{
    display: block;
    margin-top: 95px;
    padding: 15px;
    margin-left: 95px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: groove;
    border-radius: 8px;
}

.buttonRegistro:hover
{
    background-color: rgb(190, 187, 187);
    cursor: pointer;
}

.buttonCuentaYa
{
    display: block;
    margin-bottom: 20px;
    margin-top: 12px;
    padding: 15px;
    margin-left: 950px;
    margin-right: 700px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style:groove;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    color: black;
}

.buttonCuentaYa:hover
{
    background-color: rgb(190, 187, 187);
    cursor: pointer;
}

.cuadroI
{
    display:inline-block;
    padding: 15px;
    margin-left:0px;
    margin-top: 15px;
    margin-right: 0px;
    width: 470px;
    border-radius: 10px;
    
}

.cuadroI-
{
    display:inline-block;
    padding: 15px;
    margin-left:0px;
    margin-right: 0px;
    width: 470px;
    border-radius: 10px;
}

.tituloLogin
{
    margin:40px;
}

.button-Inicio-sesion
{
    display: block;
    margin-top: 25px;
    padding: 15px;
    margin-left: 95px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: groove;
    border-radius: 8px;
}

.button-Inicio-sesion:hover
{
    background-color: rgb(190, 187, 187);
    cursor: pointer;
}


.buttonCrear-Inicio
{
    display: block;
    background-color:rgb(248, 245, 245);
    margin-bottom: 20px;
    margin-top: -120px;
    padding: 15px;
    margin-left: 1000px;
    margin-right: 750px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style:groove;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    color: black; 
}

.buttonCrear-Inicio:hover
{
    background-color: rgb(190, 187, 187);
    cursor: pointer;
}

.h1-prestamo
{
    color: black;
    font-size: 32px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

.parrafo-beneficios
{
   font-size: 20px;
   text-align: justify;
}

.container-beneficios-prest
{
    display: block inline-block;
    margin-left: 50rem;
    margin-right: 5rem;
    margin-top: -44rem;
    border-radius: 30px;
    margin-bottom: 0rem;
    background-color: rgb(240, 212, 243);
    border-style: groove;
}

.button-formatos-register
{
    display: block;
    margin-bottom: 0rem;
    margin-top:-3.51rem;
    padding: 1rem;
    margin-left: 21rem;
    margin-right: 40rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style:groove;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 12rem;
    background-color: rgb(127, 171, 236);
}

.button-formatos-register-
{
    display: block;
    margin-bottom: 0rem;
    margin-top:3rem;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 30rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style:groove;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 12rem;
    background-color: rgb(127, 171, 236);
}

.body
{
    background-color: rgb(250, 249, 248);
    margin: 0rem;
    margin-bottom: 10rem;
    background-image: url(img/cesde-jovenes-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-1
{
    background-color: rgb(235, 211, 211);
    margin: 2rem;
    padding: 1rem;
    border-radius: 15px;
    border-style: groove;
}

.p_blog
{
    text-align: justify;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.p_blog-
{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.container-blog
{
    display:inline-table;
    margin: 1rem;
    padding: 2rem;
    overflow: auto;
    object-fit: cover;
}

.button-formatos-1
{
    display: block;
    margin-bottom: 0rem;
    margin-top:0rem;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 30rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style:groove;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 12rem;
    background-color: rgb(127, 171, 236);
}

.button-formatos1
{
    display: block;
    margin-bottom: 0rem;
    margin-top:-3.7rem;
    padding: 1rem;
    margin-left: 23rem;
    margin-right: 40rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style:groove;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 10rem;
    background-color: rgb(127, 171, 236);
}

.invitacion-registro
{
    display: inline-block;
    background-color: rgb(235, 211, 211);
    margin-left: 1rem;
    margin-right: 60rem;
    border-radius: 40px;
    margin-top: 2rem;
}

.formulario-registro
{
    display:inline-block ;
    background-color: rgb(206, 205, 205); height: 700px; width: 600px;
    margin-left: 75rem;
    margin-right: 0rem;
    margin-top: -33rem;
    border-radius: 15px;
    border-style: groove;
}

.parrafo-Registro
{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 2rem;
}

.mapa
{
    display: inline-block;
    margin-left: 9rem;

}