h1
{
    color: black;
    font-size: 48px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.parrafo
{
    color: black;
    font-size: 18px;
    text-align: initial;
    font-family: Arial, Helvetica, sans-serif;
}

li
{
    color: black;
    font-size: 18px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-cesde
{
    display:flex;
    background-color:  rgb(211, 5, 132);
}

h2
{
    color: black;
    font-size: 32px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

h3
{
    color: black;
    font-size: 24px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.menu 
{
    display:flex;
    list-style: none;
}


.item-menu
{
    display: flex;
    justify-content:space-between;
    padding: 30px;
    font-size: 25px;
}


.item-menua
{
    text-decoration:none;
    color: white;    
}

.body
{
    background-color: rgb(250, 249, 248);
    margin: 0px;
}

.containerInicio
{
    background-color: rgb(179, 174, 174);
    margin-left:100px;
    margin-right: 700px;
    border-radius: 5px;
}

.containerReglas
{
    background-color: rgb(141, 131, 131);
    margin-left: 200px;
    margin-right: 200px;
}

.footer
{
    display:block;
    background-color:  rgb(211, 5, 132);
    padding: 8px;
}

.parrafo-footer
{
    color: white;
    font-size: 18px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

.item-menu-login
{
    text-align: center;
    font-size: 20px;
    margin: 15px;
    padding: 20px;
    margin-left: auto;
    background-color: rgb(245, 223, 223);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.item-menu-login:hover
{
    background-color: rgb(190, 187, 187);
    cursor: pointer;
}

.login-a
{
    text-decoration:none;
    color: rgb(8, 8, 8);
    transition: background-color 0.3s ease;
}


.linea-separacion
{
    
    color: rgb(211, 5, 132);
}

.container-img-contac
{
    margin-right: 240px; 
    margin-top: 30px;
    border-radius: 15px; 
    width: 650px; 
    height: 660px;
}

.parrafoContacto
{
    margin: 20px;
    font-size: 20px;
}

.container-contact
{
    display: block;
    background-color: rgb(206, 205, 205);
    margin-top: 30px;
    margin-left: 200px;
    padding: 30px;
    border-radius: 15px;
}

.formulario-prestamo
{
    display: block;
    background-color: rgb(206, 205, 205);
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 15px;
}

.form-group
{
    margin: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-img
{
    display:inline-block ;
    background-color: rgb(206, 205, 205); width: 400px; height: 500px;
    margin-left: 115px;
    margin-top: 0px;
    padding: 40px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.card-img:hover
{
    background-color: rgb(167, 163, 163);
    cursor: pointer;
}

.card-imgimg
{
    border-radius: 30px;
    margin-left: 25px;
    margin-top: 0px;
}

.informacion
{
    background-color: rgb(177, 27, 119);
    margin-left:130px;
    padding: 15px;
    border-radius: 15px;;
    list-style: none;
    color: white;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
     ;
}

.titulo-servicio
{
    text-align: center;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-princser
{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.parrafo-servicios
{
    font-size: 20px;
    margin-top: 0px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif ;
}